body {
  font-family: 'Roboto Mono';
  background-repeat: no-repeat;
  background-position: right 50%;
  //background-color: #282c34;
  //background: linear-gradient(#001744, #170035);
}

.wrap-fonction {
  position: relative;
  width: 100%;
  min-height: 200px;
}

//Lune + mainlogo
.block-moon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 29.427%;
  margin: auto;
  height: 1385px;
  width: 1385px;
  .wrap {
    position: relative;
    width: 100%;
    height: 100%;

    .wrap-logo {
      z-index: 200;

      position: absolute;
      top: 50%;
      left: 120%;
      transform: translate(-50%, -50%);
    }

    .wrap-moon {
      z-index: 200;

      position: absolute;
      top: 50%;
      left: 120%;
      transform: translate(-50%, -50%);
    }

    .moon {
      background-color: #ff155e;
      clip-path: circle(50%);
      width: 545px;
      height: 545px;
    }

    .main-logo {
      display: block;
      width: 438px;
      height: 331px;

      background-image: url(../../images/logo4.svg);
      background-size: cover;
    }
  }
}

//mini logos
.html-logo {
  position: absolute;
  top: 960px;
  left: 640px;
  font-family: 'Share Tech Mono';
  font-size: 60px;
  color: #e6bd44;
}

.js-logo {
  position: absolute;
  top: 370px;
  left: 580px;

  font-family: 'Share Tech Mono';
  font-size: 71px;
  color: #ea8748;
}

/* SECTION 1 */
.block-presentation {
  position: absolute;
  color: #fff;
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin-top: -255px;
  margin-left: 11%;
}

.main-title {
  margin-left: -800px;
  font-family: 'IBM Plex Mono', monospace;
  //color : #f7863e;
  color: #0f0350;
  font-size: 120px;
  font-weight: 200;
  line-height: 1;
  font-style: italic;
  .item {
    display: block;
  }
}

.fonction {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: -3px;
  mix-blend-mode: difference;
  color: white;
  transform: translateX(-100%);

  &.smaller {
    font-size: 22px;
    letter-spacing: -1px;
  }
}

.block-span {
  /*
  z-index: 800;
  position: absolute;
  top: 395px;
  left: 11%;
  .item {
    display: block;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background-color: #ce265d;
    &:first-child {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-left: 54px;
    }
  }
  */
}

.title-project {
  font-family: 'IBM Plex Mono', monospace;
  color: #ce265d;
  font-size: 80px;
  font-weight: 200;
  line-height: 1;
  font-style: italic;
  //text-shadow: 1px 1px 2px rgb(0, 6, 34);
  transform: translate(-101%, 0);
}

.desc-project {
  transform: translate(-100%, 0);
}

.technos {
  transform: translate(-100%, 0);
}

.link-project {
  text-decoration: none;
}

/* fullpage */
#fp-nav ul li {
  height: 3px;
  margin: 0 0 40px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #0f0350;
  display: none;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  width: 24px;
  height: 100%;
  background: #0f0350;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &.active {
    width: 40px;
  }
}
